.time-ago {
  font-size: .9em;
  color: grey
}

.sort-by {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

// .pic-commenter {
//   display: flex;
// }

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pic-commenter-time {
  display: flex;
}

.pic-circle {
  width: 25px;
  height: 25px;
  background-color: purple;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pic-text {
  color:white;
  font-size: 15px;
}

.trash {
  width: 90px;
  border: 1px solid lightgray;
  box-shadow: 1px 1px darkgray;
  padding: 2px 4px;
  cursor: pointer;
  display: none;
  position: relative;
}

.dots {
  margin-top: 15px;
  margin-bottom: 8px;
  cursor: pointer;
  // display:none;
}

// .comments-index:hover > .dots {
//   display: block;
// }

.fa-trash {
  margin-right: 8px;
  margin-left: 4px;
}

.trash.active {
  background-color: white;
  width: 110px;
  height: 50px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 20%;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 2px 2px lightgray;
}

.trash-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  color: black;
}

.comment-body {
  margin-left: 5%;
  margin-bottom: 4%;
}