.time-ago {
  font-size: .9em;
  color: grey
}

.sort-by {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

// .pic-commenter {
//   display: flex;
// }

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pic-commenter-time {
  display: flex;
}

.pic-circle {
  width: 25px;
  height: 25px;
  background-color: purple;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pic-text {
  color:white;
  font-size: 15px;
}

.trash {
  width: 90px;
  border: 1px solid lightgray;
  box-shadow: 1px 1px darkgray;
  padding: 2px 4px;
  cursor: pointer;
  display: none;
  position: relative;
}

.dots {
  margin-top: 15px;
  margin-bottom: 8px;
  cursor: pointer;
}

.fa-trash {
  margin-right: 10px;
}

.trash.active {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 10%;
  cursor: pointer;
}

.trash-btn {
  background-color: rgb(237, 237, 237);
  border: none;
  cursor: pointer;
}

.comment-body {
  margin-left: 5%;
  margin-bottom: 4%;
}