@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.splash-main {
  display: flex;
}

.header {
  margin: 0 20px;
  padding-right: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .bars-logo {
   width: 10%;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .search-mic {
  display: flex;
  align-items: center;
 }

 .mag-glass {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10 20px;
  border: 1px solid gray;
  height: 34px;
  width: 60px;
  cursor: pointer;
 }

 .ext-links {
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }

 .links {
  display: flex;
 }

 .link {
   padding: 0 15px;
 }

 input {
  width: 350px; 
  height: 30px;
 }

 .mic {
  border: 1px solid lightgray;
  border-radius: 50%;
 }

 .YT{
   color: red;
 }


 .logo {
   font-size: 20px;
   font-weight: 900;
   font-family: 'Open Sans', sans-serif;
 }

 .signin {
  color: blue;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid blue;
  padding: 10px 15px;
  text-decoration: none;
 }