.splash-main {
  display: flex;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

.header {
   width: 100%;
   height: 30px;
   display: flex;
   justify-content: space-around;
 }

 .video-index {
   display: flex;
 }