@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.splash-main {
  display: flex;
}

.header {
   width: 100%;
   height: 50px;
   border-bottom: lightgray;
   display: flex;
   align-items: center;
   justify-content: space-around;
 }

 input {
   width: 500px;
   height: 30px;
 }

 .YT{
   color: red;
 }


 .logo {
   font-size: 20px;
   font-weight: 900;
   font-family: 'Open Sans', sans-serif;
 }

 .signin {
   color: blue;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid blue;
  padding: 10px 15px;
  text-decoration: none;
 }
 /* .video-index {
   display: flex;
 } */