.likes-share-container, .likes-container, .share-container {
  display: flex;
}

.ikon {
  margin-left: 15px;
  cursor: pointer;
}

.ikon2 {
  margin-left: 5px;
  color: black;
  cursor: pointer;
}

.save {
  margin-right: 10px;
}