.title-desc-container {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgrey;
  width: 800px;
  height: 800px;
  background-color: white;
  // margin: 50px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle-text-title {
  margin: 20px 50px;
}