.video-show-cont {
  background-color: rgb(244, 244, 244);
}

.video-show {
  margin:  2% 5%;
}

.channel-desc{
  position: relative;
}

.video-cont {
  width: 80%;
  height: 40%;
}

.sub {
  right: 0;
  bottom: 50%;
  position: absolute;
  color: white;
  background-color: rgb(182, 3, 3);
  width: 110px;
  height: 35px;
  padding: 10px 10px;
  border: none;
  font-size: 12px;
}

.video-show-title {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 2;
}