.related-videos-cont {
  width: 33%;
  margin-top: 2%;
}

.side {
  display: flex;
}

.side-view {
  width: 220px;
  height: 130px;
}

.side-view-title{
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-left: 5px;
}

.side-view-channel {
  font-size: 15px;
  color: gray;
}